# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
/Videos/
videos1/openaigym.episode_batch.0.46377.stats.json
videos1/openaigym.manifest.0.46377.manifest.json
videos1/openaigym.video.0.46377.video000000.meta.json
videos1/openaigym.video.0.46377.video000000.mp4
videos2/openaigym.episode_batch.0.48108.stats.json
videos2/openaigym.manifest.0.48108.manifest.json
videos2/openaigym.video.0.48108.video000000.meta.json
videos2/openaigym.video.0.48108.video000000.mp4
videos3/openaigym.episode_batch.0.48551.stats.json
videos3/openaigym.manifest.0.48551.manifest.json
videos3/openaigym.video.0.48551.video000000.meta.json
videos3/openaigym.video.0.48551.video000000.mp4
videos4/openaigym.episode_batch.0.49498.stats.json
videos4/openaigym.manifest.0.49498.manifest.json
videos4/openaigym.video.0.49498.video000000.meta.json
videos4/openaigym.video.0.49498.video000000.mp4
videos5/openaigym.episode_batch.0.49703.stats.json
videos5/openaigym.manifest.0.49703.manifest.json
videos5/openaigym.video.0.49703.video000000.meta.json
videos5/openaigym.video.0.49703.video000000.mp4
Test runs/videos1/openaigym.episode_batch.0.59966.stats.json
Test runs/videos1/openaigym.manifest.0.59966.manifest.json
Test runs/videos1/openaigym.video.0.59966.video000000.meta.json
Test runs/videos1/openaigym.video.0.59966.video000000.mp4
videofinal/openaigym.episode_batch.0.62160.stats.json
videofinal/openaigym.manifest.0.62160.manifest.json
videofinal/openaigym.video.0.62160.video000000.meta.json
videofinal/openaigym.video.0.62160.video000000.mp4
